// orderlist screen = OS
.borderOS {
    border: solid !important ;
}
.fontsizeOS {
    font-size: 36px ;
}
.colorbntOS{
    color: red ;
}
.fontsizeOS2 {
    font-size: 48px ;
}
.bgOS {
    background: lightgray ;
}
.fontsizeOS3 {
    font-size: 20px ;
}