// calculate screen = CalcS
.borderCalcS {
    border-right: solid ;
    border-color: darkgray
}
.fontsizebntnumCalcS {
    font-size: 20px ;
}
.fontsizetotalCalcS {
    font-size: 20px ;
}
.sizebntCalcS {
    font-size: 36px ;
}