// home screen = HS
.borderHS {
    border: solid !important;
}

.borderrightHS {
    border-right: solid;
    border-color: darkgray;
}

.heightrowHS {
    height: 100% !important;
}

.widthrowHS {
    width: 100% !important;
}

.heightmenuHS {
    height: 500px !important;
}

.margin-topmenuHS {
    margin-top: -150px !important;
}

.heightbntHS {
    height: 200px !important;
}

.widthbntHS {
    width: 200px !important;
}

.heightslidepageHS {
    height: 450px;
}

.heightscrollboxHS {
    height: 450px;
}

.widthscrollboxHS {
    width: 450px;
}

.h1toleftHS {
    text-align: -webkit-left;
}

.margintoptextbntmenuHS {
    font-size: 36px;
    margin-top: -80px;
}

.marginbuttomtextbntmenuHS {
    font-size: 36px;
    margin-bottom: -80px;
    margin-left: -20px;
}

.borderbottomh1menuHS {
    border-bottom: solid;
}

.iconinheaderHS {
    // margin-left: 930px;
    font-size: 36px;
}

.heightheaderHS {
    height: 1% !important;
}

.fontsizebntHS {
    font-size: 36px;
}

.bordertopHS {
    border-top: solid;
    border-color: darkgray;
}

.fontsizeH1HS {
    font-size: 42px;
}

.borderbottomHS {
    border-bottom: solid !important; // border-color: darkgray ;
}

.fontsizemenulist {
    border-bottom: solid !important; // border-color: darkgray ;
}

.fontsizeH1menulistHS {
    font-size: 42px;
}

.fontsizemenulistHS {
    font-size: 28px !important;
}

.fontsizedetailHS {
    font-size: 28px !important;
}

.colorbntHS {
    background: red;
}

.bntclearHS {
    font-size: 36px;
    height: 40px;
}

.heightscrollboxmenulistHS {
    height: 500px !important;
}

.widthscrollboxmenulistHS {
    width: 450px;
}

.heightbntcalandccHS {
    height: 850% !important;
}

[verti-align] {
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
}

[bgImg] {
    background: url(../../assets/product.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 246px;
    margin: auto;
    z-index: 2;
    position: relative;
}

[colheight] {
    height: 100%;
}

[gridfull] {}

[imgcard] {
    height: 80%;
}

[cardHeader] {
    text-align: left;
    font-weight: bold;
}

[headtext] {
    top: 10px;
}