<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid gridheight>
    <ion-row colheight>
      <ion-col col-5>
        <ion-list>
          <ion-list-header>
            <ion-row>
              <ion-col col-6 verti-align>
                <h1 align-items-stretch>Menu list</h1>
              </ion-col>
              <ion-col col-6 text-right>
                <button ion-button round icon-start>
      <ion-icon name="ios-trash"></ion-icon>Clear all
    </button>
              </ion-col>
            </ion-row>
          </ion-list-header>
        </ion-list>
        <ion-scroll scrollY="true" class="heightscrollboxmenulistHS" scrollsize1>
          <ion-list text-center>
            <ion-card *ngFor="let order of orders">
              <ion-card-header>
                <ion-row>
                  <ion-col col-10 text-left>
                    <h2>{{order.name}}</h2>
                  </ion-col>
                  <ion-col col-2 text-center>
                    <button ion-button color="danger" icon-only small (click)="deleteOrder(order._id)"><ion-icon name="md-close"></ion-icon>
</button>
                  </ion-col>
                </ion-row>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-item>
                    <ion-label color="primary">Amount</ion-label>
                    <ion-input type="number" [(ngModel)]="order.amount" text-right></ion-input>
                    <!-- <span>{{order.amount}}</span> -->
                    <button ion-button color="danger" item-right (click)="decreseqtyitem(order._id)"><ion-icon name="ios-remove"></ion-icon>
</button><button ion-button color="secondary" item-right no-margin no-padding (click)="increseqtyitem(order._id)"><ion-icon name="ios-add"></ion-icon>
</button>
                  </ion-item>
                  <ion-item [hidden]="order.category[0].subcate !=='coffee'">
                    <ion-label color="primary">Sweetness level</ion-label>
                    <ion-select [(ngModel)]="Sweetness " interface="popover">
                      <ion-option value="lo ">Low</ion-option>
                      <ion-option selected value="me">Medium</ion-option>
                      <ion-option value="hi">High</ion-option>
                    </ion-select>
                  </ion-item>
                  <ion-item [hidden]="order.category[0].subcate !=='coffee'">
                    <ion-label color="primary">Amount of caffeine</ion-label>
                    <ion-select [(ngModel)]="Degrees" interface="popover">
                      <ion-option selected value="r">regular</ion-option>
                      <ion-option value="ha">Half-caf</ion-option>
                      <ion-option value="de">De-caf</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-list>
        </ion-scroll>
      </ion-col>
      <ion-col col-7>
        <ion-segment [(ngModel)]="menu" color="secondary">
          <ion-segment-button value="drink" alignText ng-selected="true">
            Drink
          </ion-segment-button>
          <ion-segment-button value="dessert" alignText>
            Dessert
          </ion-segment-button>
          <ion-segment-button value="food" alignText>
            Food
          </ion-segment-button>
        </ion-segment>
        <ion-grid [ngSwitch]="menu" gridmenu>
          <ion-row row2>
            <ion-col col-12>
              <ion-scroll scrollY="true" class="heightscrollboxmenulistHS" scrollsize2>
                <ion-list *ngSwitchCase="'drink'">
                  <ion-card *ngFor="let products of prod_drink" imgcard (click)="addtoOrder(products)">
                    <ion-card-content card-content>
                      <ion-row>
                        <ion-col headTxt>
                          {{products.name}}
                        </ion-col>
                      </ion-row>
                      <div class="crop">
                        <img src="{{products.image}}" />
                      </div>
                      <ion-row>
                        <ion-col contentTxt>
                          {{products.price | number}}.-
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                </ion-list>
                <ion-list *ngSwitchCase="'dessert'">
                  <ion-card *ngFor="let desserts of prod_dessert" imgcard>
                    <ion-card-content card-content>
                      <ion-row>
                        <ion-col headTxt>
                          {{desserts.name}}
                        </ion-col>
                      </ion-row>
                      <div class="crop">
                        <img src="{{desserts.image}}" />
                      </div>
                      <ion-row>
                        <ion-col contentTxt>
                          {{desserts.price | number}}.-
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                </ion-list>

                <ion-list *ngSwitchCase="'food'">
                  <ion-card *ngFor="let foods of prod_food" imgcard>
                    <ion-card-content card-content>
                      <ion-row>
                        <ion-col headTxt>
                          {{foods.name}}
                        </ion-col>
                      </ion-row>
                      <div class="crop">
                        <img src="{{foods.image}}" />
                      </div>
                      <ion-row>
                        <ion-col contentTxt>
                          {{foods.price | number}}.-
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                </ion-list>
              </ion-scroll>
              <ion-grid>
                <ion-row>
                  <ion-col span-2>
                    <button ion-button icon-left full round>
  <ion-icon name="md-qr-scanner"></ion-icon>
  QR Scan
</button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <button ion-button icon-left full (click)="gotoCalculate()" round>
  <ion-icon name="md-calculator"></ion-icon>
  Calculate
</button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <button ion-button icon-left full round>
  <ion-icon name="ios-cafe-outline"></ion-icon>
  Cup Coins
</button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>