<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid gridheight>
    <ion-row colheight>
      <!-- <ion-scroll item-height="100%" item-width="100%"> -->
      <ion-col col-5>
        <ion-list>
          <ion-list-header>
            <ion-row>
              <ion-col col-6 verti-align>
                <h1 align-items-stretch>Menu list</h1>
              </ion-col>
              <ion-col col-6 text-right>
                <button ion-button round icon-start>
      <ion-icon name="ios-trash"></ion-icon>Clear all
    </button>
              </ion-col>
            </ion-row>
          </ion-list-header>
        </ion-list>
        <ion-scroll scrollY="true" class="heightscrollboxmenulistHS" scrollsize1>
          <!-- <ion-scroll scrollY="true" direction="xy" overflow-scroll="true"> -->
          <ion-list text-center>
            <ion-card *ngFor="let order of [1,2,3,4,5]">
              <ion-card-header>
                <ion-row>
                  <ion-col col-10>
                    <span align-items-center><h2>Product Name......</h2></span>
                  </ion-col>
                  <ion-col col-2 text-right>
                    <button ion-button color="danger" icon-only small><ion-icon name="md-close"></ion-icon>
</button>
                  </ion-col>
                </ion-row>


              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-item>
                    <ion-label color="primary">Amount</ion-label>
                    <ion-input type="number" text-right margin-right></ion-input>
                    <button ion-button color="danger" item-right><ion-icon name="ios-remove"></ion-icon>
</button><button ion-button color="secondary" item-right no-margin no-padding><ion-icon name="ios-add"></ion-icon>
</button>
                  </ion-item>
                  <ion-item>
                    <ion-label color="primary">Sweetness level</ion-label>
                    <ion-select [(ngModel)]="Sweetness" interface="popover">
                      <ion-option value="lo">Low</ion-option>
                      <ion-option selected value="me">Medium</ion-option>
                      <ion-option value="hi">High</ion-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-label color="primary">Amount of caffeine</ion-label>
                    <ion-select [(ngModel)]="Degrees" interface="popover">
                      <ion-option selected value="r">regular</ion-option>
                      <ion-option value="ha">Half-caf</ion-option>
                      <ion-option value="de">De-caf</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
            <!-- </ion-scroll> -->
          </ion-list>
        </ion-scroll>
      </ion-col>
      <!-- </ion-scroll> -->
      <ion-col col-7>

        <!-- <ion-slides pager> -->
        <ion-segment [(ngModel)]="menu" color="secondary">
          <ion-segment-button value="drink" alignText ng-selected="true">
            <!-- <ion-icon name="ios-cafe" padding-right></ion-icon> -->
            Drink
          </ion-segment-button>

          <ion-segment-button value="dessert" alignText>
            <!-- <ion-icon name="ios-cafe" padding-right></ion-icon> -->
            Dessert
          </ion-segment-button>
          <ion-segment-button value="food" alignText>
            <!-- <ion-icon name="ios-cafe" padding-right></ion-icon> -->
            Food
          </ion-segment-button>
        </ion-segment>

        <ion-grid [ngSwitch]="menu" gridmenu>
          <ion-row row2>
            <ion-col col-12>
              <ion-scroll scrollY="true" class="heightscrollboxmenulistHS" scrollsize2>
                <ion-list *ngSwitchCase="'drink'">
                  <ion-card *ngFor="let products of prod_drink" imgcard>
                    <img src="{{products.image}}" imgstyle>
                    <ion-card-header cardHeader>
                      {{products.name}}
                    </ion-card-header>
                    <ion-card-content prdPosition>

                      {{products.price | number}}.-
                    </ion-card-content>
                  </ion-card>
                </ion-list>

                <ion-list *ngSwitchCase="'dessert'">
                  <ion-card *ngFor="let desserts of prod_dessert" style="background-image: url('{{desserts.image}}'); background-repeat: no-repeat; background-size: cover; background-position: center center;"
                    imgcard>
                    <ion-card-header cardHeader>
                      {{desserts.name}}
                    </ion-card-header>
                    <ion-card-content prdPosition>
                      {{desserts.price | number}}.-
                    </ion-card-content>
                  </ion-card>
                </ion-list>

                <ion-list *ngSwitchCase="'food'">
                  <ion-card *ngFor="let foods of prod_food" style="background-image: url('{{foods.image}}'); background-repeat: no-repeat; background-size: cover; background-position: center center;"
                    imgcard>
                    <ion-card-header cardHeader>
                      {{foods.name}}
                    </ion-card-header>
                    <ion-card-content prdPosition>
                      {{foods.price | number}}.-
                    </ion-card-content>
                  </ion-card>
                </ion-list>
              </ion-scroll>


              <ion-grid>
                <ion-row>
                  <ion-col span-2>
                    <button ion-button icon-left full>
  <ion-icon name="md-qr-scanner"></ion-icon>
  QR Scan
</button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <button ion-button icon-left full (click)="gotoCalculate()">
  <ion-icon name="md-calculator"></ion-icon>
  Calculate
</button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <button ion-button icon-left full>
  <ion-icon name="ios-cafe-outline"></ion-icon>
  Cup Coins
</button>
                  </ion-col>
                </ion-row>
              </ion-grid>

            </ion-col>
          </ion-row>

        </ion-grid>



        <!-- <ion-slide>
            <ion-list>
              <ion-list-header>
                <ion-row>
                  <h1>Drinks</h1>
                </ion-row>
              </ion-list-header>
            </ion-list>

            <ion-grid>
              <ion-row>
                <ion-col col-12>
                  <ion-list>
                    <ion-card *ngFor="let order of [1,2,3,4,5,6,7,8]" style="background-image: url('../../assets/590.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;"
                      imgcard>
                      <ion-card-header cardHeader>
                        สินค้า 1
                      </ion-card-header>
                      <ion-card-content>
                        45.-
                      </ion-card-content>
                    </ion-card>
                  </ion-list>
                </ion-col>
              </ion-row>

            </ion-grid>
          </ion-slide>

          <ion-slide style="background-color: blue">
            <h2>Slide 2</h2>
          </ion-slide>

          <ion-slide style="background-color: red">
            <h2>Slide 3</h2>
          </ion-slide>

        </ion-slides> -->

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>




<!-- <ion-col col-12>
      <ion-grid>
        <ion-row>
          <ion-col col-12 class="borderbottomHS">
            <h1 class="fontsizeH1menulistHS">Menu list</h1>
            <button ion-button full class="bntclearHS">Clear all menu</button>
          </ion-col>
          <ion-grid>
            <ion-row>
              <ion-col col-12>
                <ion-scroll scrollY="true" class="heightscrollboxmenulistHS ">
                  <ion-grid>
                    <ion-row>
                      <ion-col col-12>
                        <ion-grid>
                          <ion-row>
                            <ion-col col-12 class="borderbottomHS">
                              <ion-list>
                                <button ion-button icon-only class="colorbntHS">
                            <ion-icon name="close"></ion-icon>
                        </button>
                                <ion-item>
                                  <ion-label class="fontsizedetailHS">กาแฟร้อน</ion-label>
                                </ion-item>
                                <ion-item>
                                  <ion-label class="fontsizedetailHS">Amount</ion-label>
                                  <ion-select class="fontsizedetailHS" [(ngModel)]="Amount">
                                    <ion-option selected value="one">1</ion-option>
                                    <ion-option value="two">2</ion-option>
                                    <ion-option value="three">3</ion-option>
                                    <ion-option value="four">4</ion-option>
                                    <ion-option value="five">5</ion-option>
                                    <ion-option value="six">6</ion-option>
                                    <ion-option value="seven">7</ion-option>
                                    <ion-option value="eight">8</ion-option>
                                    <ion-option value="nine">9</ion-option>
                                    <ion-option value="ten">10</ion-option>
                                  </ion-select>
                                </ion-item>
                                <ion-item>
                                  <ion-label class="fontsizedetailHS">Sweetness</ion-label>
                                  <ion-select class="fontsizedetailHS" [(ngModel)]="Sweetness">
                                    <ion-option value="lo">Low</ion-option>
                                    <ion-option selected value="me">Medium</ion-option>
                                    <ion-option value="hi">High</ion-option>
                                  </ion-select>
                                </ion-item>
                                <ion-item>
                                  <ion-label class="fontsizedetailHS">Degrees</ion-label>
                                  <ion-select class="fontsizedetailHS" [(ngModel)]="Degrees">
                                    <ion-option selected value="r">regular</ion-option>
                                    <ion-option value="ha">Half-caf</ion-option>
                                    <ion-option value="de">De-caf</ion-option>
                                  </ion-select>
                                </ion-item>
                              </ion-list>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  <ion-grid>
                    <ion-row>
                      <ion-col col-12>
                        <ion-grid>
                          <ion-row>
                            <ion-col col-12 class="borderbottomHS">
                              <ion-list>
                                <button ion-button icon-only class="colorbntHS">
                                      <ion-icon name="close"></ion-icon>
                                  </button>
                                <ion-item>
                                  <ion-label class="fontsizedetailHS">กาแฟร้อน</ion-label>
                                </ion-item>
                                <ion-item>
                                  <ion-label class="fontsizedetailHS">Amount</ion-label>
                                  <ion-select class="fontsizedetailHS" [(ngModel)]="Amount">
                                    <ion-option selected value="one">1</ion-option>
                                    <ion-option value="two">2</ion-option>
                                    <ion-option value="three">3</ion-option>
                                    <ion-option value="four">4</ion-option>
                                    <ion-option value="five">5</ion-option>
                                    <ion-option value="six">6</ion-option>
                                    <ion-option value="seven">7</ion-option>
                                    <ion-option value="eight">8</ion-option>
                                    <ion-option value="nine">9</ion-option>
                                    <ion-option value="ten">10</ion-option>
                                  </ion-select>
                                </ion-item>
                                <ion-item>
                                  <ion-label class="fontsizedetailHS">Sweetness</ion-label>
                                  <ion-select class="fontsizedetailHS" [(ngModel)]="Sweetness">
                                    <ion-option value="lo">Low</ion-option>
                                    <ion-option selected value="me">Medium</ion-option>
                                    <ion-option value="hi">High</ion-option>
                                  </ion-select>
                                </ion-item>
                                <ion-item>
                                  <ion-label class="fontsizedetailHS">Degrees</ion-label>
                                  <ion-select class="fontsizedetailHS" [(ngModel)]="Degrees">
                                    <ion-option selected value="r">regular</ion-option>
                                    <ion-option value="ha">Half-caf</ion-option>
                                    <ion-option value="de">De-caf</ion-option>
                                  </ion-select>
                                </ion-item>
                              </ion-list>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-scroll>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-row>
      </ion-grid>
    </ion-col> -->